@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
}

.anchor {
  margin-left: 0.5em;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

h1:hover .anchor,
h2:hover .anchor,
h3:hover .anchor,
h4:hover .anchor,
h5:hover .anchor,
h6:hover .anchor {
  opacity: 1;
}

.anchor-icon {
  font-size: 0.8em;
  vertical-align: middle;
}